In [58]:
from google.colab import files 
uploaded = files.upload()

Saving Movie_collection_train.csv to Movie_collection_train (2).csv

In [59]:
import pandas as pd

In [60]:
import io
df2 = pd.read_csv(io.BytesIO(uploaded['Movie_collection_train.csv']))

In [61]:
df2.shape

(400, 19)

In [62]:
df2.head()

   Collection  Marketin_expense  ...  Num_multiplex  3D_available
0       48000           20.1264  ...            494           YES
1       43200           20.5462  ...            462            NO
2       69400           20.5458  ...            458            NO
3       66800           20.6474  ...            472           YES
4       72400           21.3810  ...            395            NO

[5 rows x 19 columns]

In [63]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 19 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Collection           400 non-null    int64
 1   Marketin_expense     400 non-null    float64
 2   Production_expense   400 non-null    float64
 3   Multiplex_coverage   400 non-null    float64
 4   Budget               400 non-null    float64
 5   Movie_length         400 non-null    float64
 6   Lead_ Actor_Rating   400 non-null    float64
 7   Lead_Actress_rating  400 non-null    float64
 8   Director_rating      400 non-null    float64
 9   Producer_rating      400 non-null    float64
 10  Critic_rating        400 non-null    float64
 11  Trailer_views        400 non-null    int64
 12  Time_taken           392 non-null    float64
 13  Twitter_hastags      400 non-null    float64
 14  Genre                400 non-null    object
 15  Avg_age_actors       400 non-null    int64
 16  MPAA_film_rating     400 non-null    object
 17  Num_multiplex        400 non-null    int64
 18  3D_available         400 non-null    object
dtypes: float64(12), int64(4), object(3)
memory usage: 59.5+ KB

In [64]:
df2.index.name = 'index_movie'

In [65]:
df2.index

RangeIndex(start=0, stop=400, step=1, name='index_movie')

In [66]:
df2.columns

Index(['Collection', 'Marketin_expense', 'Production_expense',
       'Multiplex_coverage', 'Budget', 'Movie_length', 'Lead_ Actor_Rating',
       'Lead_Actress_rating', 'Director_rating', 'Producer_rating',
       'Critic_rating', 'Trailer_views', 'Time_taken', 'Twitter_hastags',
       'Genre', 'Avg_age_actors', 'MPAA_film_rating', 'Num_multiplex',
       '3D_available'],
      dtype='object')

In [67]:
df2.loc[df2.Collection >= 100000]

             Collection  Marketin_expense  ...  Num_multiplex  3D_available
index_movie                                ...
161              100000           49.2672  ...            539           YES
162              100000           56.6754  ...            557           YES
163              100000           50.3804  ...            603           YES
166              100000           60.2038  ...            522           YES
186              100000           21.1204  ...            458           YES
195              100000           20.2762  ...            430           YES
204              100000           20.4018  ...            442           YES
225              100000           30.5386  ...            570           YES
257              100000           32.2308  ...            552           YES
267              100000           31.5668  ...            633           YES
283              100000           20.3002  ...            489           YES
368              100000          117.9644  ...            624            NO
369              100000          133.3996  ...            675           YES
370              100000          150.7752  ...            593           YES
371              100000          204.6460  ...            609           YES
372              100000          185.3450  ...            645           YES

[16 rows x 19 columns]

In [68]:
df2.loc[1:3]

             Collection  Marketin_expense  ...  Num_multiplex  3D_available
index_movie                                ...
1                 43200           20.5462  ...            462            NO
2                 69400           20.5458  ...            458            NO
3                 66800           20.6474  ...            472           YES

[3 rows x 19 columns]

In [69]:
df2.iloc[0:10]

             Collection  Marketin_expense  ...  Num_multiplex  3D_available
index_movie                                ...
0                 48000           20.1264  ...            494           YES
1                 43200           20.5462  ...            462            NO
2                 69400           20.5458  ...            458            NO
3                 66800           20.6474  ...            472           YES
4                 72400           21.3810  ...            395            NO
5                 57400           20.5970  ...            460           YES
6                 45800           21.7658  ...            522           YES
7                 44200           22.8910  ...            571            NO
8                 33000           24.2248  ...            564           YES
9                 37800           23.4008  ...            508           YES

[10 rows x 19 columns]

In [70]:
df2.iloc[[0,4]]

             Collection  Marketin_expense  ...  Num_multiplex  3D_available
index_movie                                ...
0                 48000           20.1264  ...            494           YES
4                 72400           21.3810  ...            395            NO

[2 rows x 19 columns]

In [71]:
df2.groupby('Collection')

In [72]:
df2.groupby('Collection').groups

{10000: Int64Index([398], dtype='int64', name='index_movie'),
 12600: Int64Index([399], dtype='int64', name='index_movie'),
 14400: Int64Index([385], dtype='int64', name='index_movie'),
 14800: Int64Index([387], dtype='int64', name='index_movie'),
 17000: Int64Index([397], dtype='int64', name='index_movie'),
 17600: Int64Index([384], dtype='int64', name='index_movie'),
 19400: Int64Index([392], dtype='int64', name='index_movie'),
 20400: Int64Index([379, 388], dtype='int64', name='index_movie'),
 20800: Int64Index([380], dtype='int64', name='index_movie'),
 21000: Int64Index([386], dtype='int64', name='index_movie'),
 21800: Int64Index([381], dtype='int64', name='index_movie'),
 22600: Int64Index([382], dtype='int64', name='index_movie'),
 23000: Int64Index([389], dtype='int64', name='index_movie'),
 23600: Int64Index([144], dtype='int64', name='index_movie'),
 24600: Int64Index([383], dtype='int64', name='index_movie'),
 25000: Int64Index([396], dtype='int64', name='index_movie'),
 25400: Int64Index([30, 394], dtype='int64', name='index_movie'),
 26200: Int64Index([33, 156, 378, 395], dtype='int64', name='index_movie'),
 26400: Int64Index([32], dtype='int64', name='index_movie'),
 26600: Int64Index([138, 377], dtype='int64', name='index_movie'),
 26800: Int64Index([142], dtype='int64', name='index_movie'),
 27000: Int64Index([34], dtype='int64', name='index_movie'),
 27200: Int64Index([20], dtype='int64', name='index_movie'),
 27600: Int64Index([145, 373, 374, 393], dtype='int64', name='index_movie'),
 27800: Int64Index([25, 376], dtype='int64', name='index_movie'),
 28000: Int64Index([140], dtype='int64', name='index_movie'),
 28600: Int64Index([129], dtype='int64', name='index_movie'),
 28800: Int64Index([48, 141], dtype='int64', name='index_movie'),
 29000: Int64Index([23, 31], dtype='int64', name='index_movie'),
 29200: Int64Index([147], dtype='int64', name='index_movie'),
 29600: Int64Index([27], dtype='int64', name='index_movie'),
 30000: Int64Index([10, 375], dtype='int64', name='index_movie'),
 30200: Int64Index([390], dtype='int64', name='index_movie'),
 30400: Int64Index([22], dtype='int64', name='index_movie'),
 30600: Int64Index([152], dtype='int64', name='index_movie'),
 30800: Int64Index([149], dtype='int64', name='index_movie'),
 31200: Int64Index([24, 134, 143, 146, 155], dtype='int64', name='index_movie'),
 31400: Int64Index([126], dtype='int64', name='index_movie'),
 32000: Int64Index([61], dtype='int64', name='index_movie'),
 32200: Int64Index([310], dtype='int64', name='index_movie'),
 32400: Int64Index([127, 315], dtype='int64', name='index_movie'),
 33000: Int64Index([8, 342], dtype='int64', name='index_movie'),
 33200: Int64Index([26, 47], dtype='int64', name='index_movie'),
 33600: Int64Index([363], dtype='int64', name='index_movie'),
 34000: Int64Index([154], dtype='int64', name='index_movie'),
 34200: Int64Index([137, 331], dtype='int64', name='index_movie'),
 34400: Int64Index([346], dtype='int64', name='index_movie'),
 34600: Int64Index([123], dtype='int64', name='index_movie'),
 34800: Int64Index([68, 136, 170], dtype='int64', name='index_movie'),
 35000: Int64Index([17, 345], dtype='int64', name='index_movie'),
 35200: Int64Index([244], dtype='int64', name='index_movie'),
 35600: Int64Index([139, 148, 316, 356], dtype='int64', name='index_movie'),
 36000: Int64Index([128], dtype='int64', name='index_movie'),
 36200: Int64Index([135], dtype='int64', name='index_movie'),
 36400: Int64Index([14, 19, 354], dtype='int64', name='index_movie'),
 36600: Int64Index([115], dtype='int64', name='index_movie'),
 36800: Int64Index([28, 133], dtype='int64', name='index_movie'),
 37000: Int64Index([114, 245, 323, 337], dtype='int64', name='index_movie'),
 37200: Int64Index([102, 352], dtype='int64', name='index_movie'),
 37400: Int64Index([60, 113, 340], dtype='int64', name='index_movie'),
 37600: Int64Index([112, 124], dtype='int64', name='index_movie'),
 37800: Int64Index([9, 11, 35, 54], dtype='int64', name='index_movie'),
 38000: Int64Index([339], dtype='int64', name='index_movie'),
 38200: Int64Index([171], dtype='int64', name='index_movie'),
 38400: Int64Index([117, 130], dtype='int64', name='index_movie'),
 38600: Int64Index([45, 103, 119, 211, 328], dtype='int64', name='index_movie'),
 38800: Int64Index([49, 66, 109, 153, 312, 332], dtype='int64', name='index_movie'),
 39000: Int64Index([105, 106, 336], dtype='int64', name='index_movie'),
 39200: Int64Index([21, 59, 131, 151], dtype='int64', name='index_movie'),
 39400: Int64Index([50], dtype='int64', name='index_movie'),
 39600: Int64Index([108, 317, 330], dtype='int64', name='index_movie'),
 39800: Int64Index([15, 361], dtype='int64', name='index_movie'),
 40000: Int64Index([36, 46, 76, 209], dtype='int64', name='index_movie'),
 40200: Int64Index([104, 241, 286], dtype='int64', name='index_movie'),
 40400: Int64Index([18], dtype='int64', name='index_movie'),
 40600: Int64Index([79, 121, 297, 309], dtype='int64', name='index_movie'),
 40800: Int64Index([13, 107, 118, 322], dtype='int64', name='index_movie'),
 41000: Int64Index([51, 122, 247], dtype='int64', name='index_movie'),
 41200: Int64Index([94, 338, 355], dtype='int64', name='index_movie'),
 41400: Int64Index([269, 334], dtype='int64', name='index_movie'),
 41600: Int64Index([77, 362], dtype='int64', name='index_movie'),
 41800: Int64Index([69, 255], dtype='int64', name='index_movie'),
 42000: Int64Index([29, 37, 319], dtype='int64', name='index_movie'),
 42200: Int64Index([270, 335], dtype='int64', name='index_movie'),
 42400: Int64Index([44, 78, 116], dtype='int64', name='index_movie'),
 42800: Int64Index([75, 96, 125], dtype='int64', name='index_movie'),
 43000: Int64Index([150, 218], dtype='int64', name='index_movie'),
 43200: Int64Index([1, 313], dtype='int64', name='index_movie'),
 43400: Int64Index([12, 71, 110, 210, 221, 294, 357], dtype='int64', name='index_movie'),
 43800: Int64Index([254, 364, 366], dtype='int64', name='index_movie'),
 44000: Int64Index([67, 91, 120, 285, 301], dtype='int64', name='index_movie'),
 44200: Int64Index([7, 311], dtype='int64', name='index_movie'),
 44400: Int64Index([62, 87, 242, 327, 333], dtype='int64', name='index_movie'),
 44600: Int64Index([169, 288], dtype='int64', name='index_movie'),
 44800: Int64Index([212], dtype='int64', name='index_movie'),
 45000: Int64Index([86, 207, 298], dtype='int64', name='index_movie'),
 45200: Int64Index([90, 174, 205, 329, 359], dtype='int64', name='index_movie'),
 45400: Int64Index([164, 358], dtype='int64', name='index_movie'),
 45600: Int64Index([72, 111, 265, 308], dtype='int64', name='index_movie'),
 45800: Int64Index([6, 83, 92, 350], dtype='int64', name='index_movie'),
 46000: Int64Index([132, 219, 326], dtype='int64', name='index_movie'),
 46200: Int64Index([16, 172, 318, 321, 347, 367], dtype='int64', name='index_movie'),
 46400: Int64Index([176, 287, 391], dtype='int64', name='index_movie'),
 46600: Int64Index([58, 159, 216, 239], dtype='int64', name='index_movie'),
 46800: Int64Index([53, 73], dtype='int64', name='index_movie'),
 47000: Int64Index([65], dtype='int64', name='index_movie'),
 47200: Int64Index([88, 173], dtype='int64', name='index_movie'),
 47400: Int64Index([214, 238, 243], dtype='int64', name='index_movie'),
 47600: Int64Index([167, 168, 314, 320], dtype='int64', name='index_movie'),
 47800: Int64Index([81, 84, 293, 343], dtype='int64', name='index_movie'),
 48000: Int64Index([0, 235], dtype='int64', name='index_movie'),
 48200: Int64Index([74, 201, 351], dtype='int64', name='index_movie'),
 48400: Int64Index([38, 70], dtype='int64', name='index_movie'),
 48600: Int64Index([158, 230, 246], dtype='int64', name='index_movie'),
 48800: Int64Index([206, 208, 250, 272], dtype='int64', name='index_movie'),
 49000: Int64Index([248, 348], dtype='int64', name='index_movie'),
 49200: Int64Index([177, 325], dtype='int64', name='index_movie'),
 49400: Int64Index([43, 56], dtype='int64', name='index_movie'),
 49600: Int64Index([82, 251, 289, 300], dtype='int64', name='index_movie'),
 50000: Int64Index([52, 63, 93, 165, 215, 324, 360], dtype='int64', name='index_movie'),
 50200: Int64Index([236], dtype='int64', name='index_movie'),
 50400: Int64Index([271], dtype='int64', name='index_movie'),
 50600: Int64Index([42], dtype='int64', name='index_movie'),
 52400: Int64Index([249], dtype='int64', name='index_movie'),
 52800: Int64Index([184, 302], dtype='int64', name='index_movie'),
 53000: Int64Index([101], dtype='int64', name='index_movie'),
 53200: Int64Index([41, 85, 349], dtype='int64', name='index_movie'),
 53400: Int64Index([220], dtype='int64', name='index_movie'),
 54000: Int64Index([160, 240], dtype='int64', name='index_movie'),
 54200: Int64Index([296], dtype='int64', name='index_movie'),
 55000: Int64Index([100, 222, 365], dtype='int64', name='index_movie'),
 55800: Int64Index([292], dtype='int64', name='index_movie'),
 56000: Int64Index([80], dtype='int64', name='index_movie'),
 56200: Int64Index([213], dtype='int64', name='index_movie'),
 56400: Int64Index([307], dtype='int64', name='index_movie'),
 56800: Int64Index([95, 305], dtype='int64', name='index_movie'),
 57000: Int64Index([290], dtype='int64', name='index_movie'),
 57200: Int64Index([295], dtype='int64', name='index_movie'),
 57400: Int64Index([5, 89, 217], dtype='int64', name='index_movie'),
 58000: Int64Index([234, 299], dtype='int64', name='index_movie'),
 58200: Int64Index([194, 278], dtype='int64', name='index_movie'),
 58800: Int64Index([175], dtype='int64', name='index_movie'),
 59200: Int64Index([185, 252], dtype='int64', name='index_movie'),
 59600: Int64Index([188], dtype='int64', name='index_movie'),
 59800: Int64Index([178], dtype='int64', name='index_movie'),
 60200: Int64Index([223, 259, 353], dtype='int64', name='index_movie'),
 60600: Int64Index([197], dtype='int64', name='index_movie'),
 61000: Int64Index([191], dtype='int64', name='index_movie'),
 61400: Int64Index([266], dtype='int64', name='index_movie'),
 61600: Int64Index([39], dtype='int64', name='index_movie'),
 62000: Int64Index([263], dtype='int64', name='index_movie'),
 62200: Int64Index([193], dtype='int64', name='index_movie'),
 62400: Int64Index([344], dtype='int64', name='index_movie'),
 63000: Int64Index([229, 237], dtype='int64', name='index_movie'),
 63200: Int64Index([57, 227], dtype='int64', name='index_movie'),
 63400: Int64Index([231], dtype='int64', name='index_movie'),
 64000: Int64Index([187, 275], dtype='int64', name='index_movie'),
 64400: Int64Index([284], dtype='int64', name='index_movie'),
 64800: Int64Index([274], dtype='int64', name='index_movie'),
 65000: Int64Index([183], dtype='int64', name='index_movie'),
 65400: Int64Index([341], dtype='int64', name='index_movie'),
 65800: Int64Index([200], dtype='int64', name='index_movie'),
 66000: Int64Index([64, 190], dtype='int64', name='index_movie'),
 66200: Int64Index([277, 303], dtype='int64', name='index_movie'),
 66400: Int64Index([99, 276], dtype='int64', name='index_movie'),
 66600: Int64Index([196], dtype='int64', name='index_movie'),
 66800: Int64Index([3, 306], dtype='int64', name='index_movie'),
 67600: Int64Index([260], dtype='int64', name='index_movie'),
 69200: Int64Index([198], dtype='int64', name='index_movie'),
 69400: Int64Index([2], dtype='int64', name='index_movie'),
 69800: Int64Index([40, 189, 199], dtype='int64', name='index_movie'),
 70200: Int64Index([279], dtype='int64', name='index_movie'),
 70400: Int64Index([273], dtype='int64', name='index_movie'),
 70800: Int64Index([55, 281], dtype='int64', name='index_movie'),
 72000: Int64Index([258], dtype='int64', name='index_movie'),
 72200: Int64Index([304], dtype='int64', name='index_movie'),
 72400: Int64Index([4, 181], dtype='int64', name='index_movie'),
 72800: Int64Index([192], dtype='int64', name='index_movie'),
 73000: Int64Index([264], dtype='int64', name='index_movie'),
 74400: Int64Index([179], dtype='int64', name='index_movie'),
 74600: Int64Index([291], dtype='int64', name='index_movie'),
 75200: Int64Index([226], dtype='int64', name='index_movie'),
 75800: Int64Index([182], dtype='int64', name='index_movie'),
 77400: Int64Index([97], dtype='int64', name='index_movie'),
 79600: Int64Index([180], dtype='int64', name='index_movie'),
 82600: Int64Index([157], dtype='int64', name='index_movie'),
 83400: Int64Index([232], dtype='int64', name='index_movie'),
 84600: Int64Index([202], dtype='int64', name='index_movie'),
 85600: Int64Index([253], dtype='int64', name='index_movie'),
 86200: Int64Index([261], dtype='int64', name='index_movie'),
 87000: Int64Index([268], dtype='int64', name='index_movie'),
 87600: Int64Index([98], dtype='int64', name='index_movie'),
 88000: Int64Index([256], dtype='int64', name='index_movie'),
 89600: Int64Index([224], dtype='int64', name='index_movie'),
 90800: Int64Index([280], dtype='int64', name='index_movie'),
 92000: Int64Index([282], dtype='int64', name='index_movie'),
 93400: Int64Index([228], dtype='int64', name='index_movie'),
 96600: Int64Index([233], dtype='int64', name='index_movie'),
 97000: Int64Index([203], dtype='int64', name='index_movie'),
 97600: Int64Index([262], dtype='int64', name='index_movie'),
 100000: Int64Index([161, 162, 163, 166, 186, 195, 204, 225, 257, 267, 283, 368, 369,
             370, 371, 372],
            dtype='int64', name='index_movie')}

In [73]:
df2.groupby(['Collection','Budget']).groups

{(10000, 30291.415): Int64Index([398], dtype='int64', name='index_movie'),
 (12600, 32507.86): Int64Index([399], dtype='int64', name='index_movie'),
 (14400, 29313.735): Int64Index([385], dtype='int64', name='index_movie'),
 (14800, 27775.0): Int64Index([387], dtype='int64', name='index_movie'),
 (17000, 31924.585): Int64Index([397], dtype='int64', name='index_movie'),
 (17600, 24264.24): Int64Index([384], dtype='int64', name='index_movie'),
 (19400, 27974.98): Int64Index([392], dtype='int64', name='index_movie'),
 (20400, 27108.4): Int64Index([388], dtype='int64', name='index_movie'),
 (20400, 34568.765): Int64Index([379], dtype='int64', name='index_movie'),
 (20800, 38707.24): Int64Index([380], dtype='int64', name='index_movie'),
 (21000, 25841.86): Int64Index([386], dtype='int64', name='index_movie'),
 (21800, 36357.475): Int64Index([381], dtype='int64', name='index_movie'),
 (22600, 30752.48): Int64Index([382], dtype='int64', name='index_movie'),
 (23000, 29941.45): Int64Index([389], dtype='int64', name='index_movie'),
 (23600, 27236.165): Int64Index([144], dtype='int64', name='index_movie'),
 (24600, 30663.6): Int64Index([383], dtype='int64', name='index_movie'),
 (25000, 35579.775): Int64Index([396], dtype='int64', name='index_movie'),
 (25400, 31735.715): Int64Index([30], dtype='int64', name='index_movie'),
 (25400, 32702.285): Int64Index([394], dtype='int64', name='index_movie'),
 (26200, 29285.96): Int64Index([156], dtype='int64', name='index_movie'),
 (26200, 31669.055): Int64Index([33], dtype='int64', name='index_movie'),
 (26200, 35440.9): Int64Index([378], dtype='int64', name='index_movie'),
 (26200, 35946.405): Int64Index([395], dtype='int64', name='index_movie'),
 (26400, 33052.25): Int64Index([32], dtype='int64', name='index_movie'),
 (26600, 32535.635): Int64Index([138], dtype='int64', name='index_movie'),
 (26600, 37740.67): Int64Index([377], dtype='int64', name='index_movie'),
 (26800, 30013.665): Int64Index([142], dtype='int64', name='index_movie'),
 (27000, 33863.28): Int64Index([34], dtype='int64', name='index_movie'),
 (27200, 30941.35): Int64Index([20], dtype='int64', name='index_movie'),
 (27600, 22986.59): Int64Index([374], dtype='int64', name='index_movie'),
 (27600, 27252.83): Int64Index([373], dtype='int64', name='index_movie'),
 (27600, 34052.15): Int64Index([145], dtype='int64', name='index_movie'),
 (27600, 34402.115): Int64Index([393], dtype='int64', name='index_movie'),
 (27800, 31102.445): Int64Index([25], dtype='int64', name='index_movie'),
 (27800, 36935.195): Int64Index([376], dtype='int64', name='index_movie'),
 (28000, 34296.57): Int64Index([140], dtype='int64', name='index_movie'),
 (28600, 31313.535): Int64Index([129], dtype='int64', name='index_movie'),
 (28800, 27880.545): Int64Index([141], dtype='int64', name='index_movie'),
 (28800, 29991.445): Int64Index([48], dtype='int64', name='index_movie'),
 (29000, 32291.215): Int64Index([23], dtype='int64', name='index_movie'),
 (29000, 33729.96): Int64Index([31], dtype='int64', name='index_movie'),
 (29200, 27363.93): Int64Index([147], dtype='int64', name='index_movie'),
 (29600, 33591.085): Int64Index([27], dtype='int64', name='index_movie'),
 (30000, 35424.235): Int64Index([10], dtype='int64', name='index_movie'),
 (30000, 40623.715): Int64Index([375], dtype='int64', name='index_movie'),
 (30200, 31735.715): Int64Index([390], dtype='int64', name='index_movie'),
 (30400, 34118.81): Int64Index([22], dtype='int64', name='index_movie'),
 (30600, 27841.66): Int64Index([152], dtype='int64', name='index_movie'),
 (30800, 31091.335): Int64Index([149], dtype='int64', name='index_movie'),
 (31200, 30374.74): Int64Index([143], dtype='int64', name='index_movie'),
 (31200, 31263.54): Int64Index([146], dtype='int64', name='index_movie'),
 (31200, 31980.135): Int64Index([134], dtype='int64', name='index_movie'),
 (31200, 32907.82): Int64Index([24], dtype='int64', name='index_movie'),
 (31200, 34174.36): Int64Index([155], dtype='int64', name='index_movie'),
 (31400, 31180.215): Int64Index([126], dtype='int64', name='index_movie'),
 (32000, 33141.13): Int64Index([61], dtype='int64', name='index_movie'),
 (32200, 27625.015): Int64Index([310], dtype='int64', name='index_movie'),
 (32400, 31624.615): Int64Index([127], dtype='int64', name='index_movie'),
 (32400, 31691.275): Int64Index([315], dtype='int64', name='index_movie'),
 (33000, 31280.205): Int64Index([8], dtype='int64', name='index_movie'),
 (33000, 36329.7): Int64Index([342], dtype='int64', name='index_movie'),
 (33200, 32291.215): Int64Index([26], dtype='int64', name='index_movie'),
 (33200, 33496.65): Int64Index([47], dtype='int64', name='index_movie'),
 (33600, 32235.665): Int64Index([363], dtype='int64', name='index_movie'),
 (34000, 34046.595): Int64Index([154], dtype='int64', name='index_movie'),
 (34200, 31696.83): Int64Index([331], dtype='int64', name='index_movie'),
 (34200, 35851.97): Int64Index([137], dtype='int64', name='index_movie'),
 (34400, 32763.39): Int64Index([346], dtype='int64', name='index_movie'),
 (34600, 32530.08): Int64Index([123], dtype='int64', name='index_movie'),
 (34800, 31074.67): Int64Index([68], dtype='int64', name='index_movie'),
 (34800, 32635.625): Int64Index([170], dtype='int64', name='index_movie'),
 (34800, 33007.81): Int64Index([136], dtype='int64', name='index_movie'),
 (35000, 33274.45): Int64Index([17], dtype='int64', name='index_movie'),
 (35000, 33407.77): Int64Index([345], dtype='int64', name='index_movie'),
 (35200, 31069.115): Int64Index([244], dtype='int64', name='index_movie'),
 (35600, 28808.23): Int64Index([148], dtype='int64', name='index_movie'),
 (35600, 32852.27): Int64Index([316], dtype='int64', name='index_movie'),
 (35600, 34168.805): Int64Index([139], dtype='int64', name='index_movie'),
 (35600, 34507.66): Int64Index([356], dtype='int64', name='index_movie'),
 (36000, 35724.205): Int64Index([128], dtype='int64', name='index_movie'),
 (36200, 35190.925): Int64Index([135], dtype='int64', name='index_movie'),
 (36400, 31457.965): Int64Index([354], dtype='int64', name='index_movie'),
 (36400, 31813.485): Int64Index([19], dtype='int64', name='index_movie'),
 (36400, 33863.28): Int64Index([14], dtype='int64', name='index_movie'),
 (36600, 32930.04): Int64Index([115], dtype='int64', name='index_movie'),
 (36800, 32341.21): Int64Index([133], dtype='int64', name='index_movie'),
 (36800, 36079.725): Int64Index([28], dtype='int64', name='index_movie'),
 (37000, 31135.775): Int64Index([245], dtype='int64', name='index_movie'),
 (37000, 31707.94): Int64Index([323], dtype='int64', name='index_movie'),
 (37000, 32746.725): Int64Index([337], dtype='int64', name='index_movie'),
 (37000, 34740.97): Int64Index([114], dtype='int64', name='index_movie'),
 (37200, 32685.62): Int64Index([352], dtype='int64', name='index_movie'),
 (37200, 35579.775): Int64Index([102], dtype='int64', name='index_movie'),
 (37400, 31891.255): Int64Index([60], dtype='int64', name='index_movie'),
 (37400, 33152.24): Int64Index([340], dtype='int64', name='index_movie'),
 (37400, 33841.06): Int64Index([113], dtype='int64', name='index_movie'),
 (37600, 32657.845): Int64Index([124], dtype='int64', name='index_movie'),
 (37600, 32846.715): Int64Index([112], dtype='int64', name='index_movie'),
 (37800, 32707.84): Int64Index([54], dtype='int64', name='index_movie'),
 (37800, 32957.815): Int64Index([35], dtype='int64', name='index_movie'),
 (37800, 33352.22): Int64Index([9], dtype='int64', name='index_movie'),
 (37800, 33379.995): Int64Index([11], dtype='int64', name='index_movie'),
 (38000, 33246.675): Int64Index([339], dtype='int64', name='index_movie'),
 (38200, 32663.4): Int64Index([171], dtype='int64', name='index_movie'),
 (38400, 33446.655): Int64Index([117], dtype='int64', name='index_movie'),
 (38400, 35874.19): Int64Index([130], dtype='int64', name='index_movie'),
 (38600, 30019.22): Int64Index([211], dtype='int64', name='index_movie'),
 (38600, 31563.51): Int64Index([45], dtype='int64', name='index_movie'),
 (38600, 31835.705): Int64Index([119], dtype='int64', name='index_movie'),
 (38600, 32596.74): Int64Index([328], dtype='int64', name='index_movie'),
 (38600, 34091.035): Int64Index([103], dtype='int64', name='index_movie'),
 (38800, 31119.11): Int64Index([49], dtype='int64', name='index_movie'),
 (38800, 31713.495): Int64Index([153], dtype='int64', name='index_movie'),
 (38800, 32146.785): Int64Index([66], dtype='int64', name='index_movie'),
 (38800, 33457.765): Int64Index([312], dtype='int64', name='index_movie'),
 (38800, 33502.205): Int64Index([332], dtype='int64', name='index_movie'),
 (38800, 34602.095): Int64Index([109], dtype='int64', name='index_movie'),
 (39000, 32418.98): Int64Index([106], dtype='int64', name='index_movie'),
 (39000, 32502.305): Int64Index([105], dtype='int64', name='index_movie'),
 (39000, 32602.295): Int64Index([336], dtype='int64', name='index_movie'),
 (39200, 30019.22): Int64Index([151], dtype='int64', name='index_movie'),
 (39200, 32924.485): Int64Index([59], dtype='int64', name='index_movie'),
 (39200, 33135.575): Int64Index([21], dtype='int64', name='index_movie'),
 (39200, 35140.93): Int64Index([131], dtype='int64', name='index_movie'),
 (39400, 33124.465): Int64Index([50], dtype='int64', name='index_movie'),
 (39600, 32119.01): Int64Index([317], dtype='int64', name='index_movie'),
 (39600, 34129.92): Int64Index([330], dtype='int64', name='index_movie'),
 (39600, 35963.07): Int64Index([108], dtype='int64', name='index_movie'),
 (39800, 32407.87): Int64Index([15], dtype='int64', name='index_movie'),
 (39800, 34724.305): Int64Index([361], dtype='int64', name='index_movie'),
 (40000, 29685.92): Int64Index([209], dtype='int64', name='index_movie'),
 (40000, 32141.23): Int64Index([46], dtype='int64', name='index_movie'),
 (40000, 32446.755): Int64Index([36], dtype='int64', name='index_movie'),
 (40000, 34879.845): Int64Index([76], dtype='int64', name='index_movie'),
 (40200, 33857.725): Int64Index([241], dtype='int64', name='index_movie'),
 (40200, 34257.685): Int64Index([104], dtype='int64', name='index_movie'),
 (40200, 34607.65): Int64Index([286], dtype='int64', name='index_movie'),
 (40400, 30308.08): Int64Index([18], dtype='int64', name='index_movie'),
 (40600, 32163.45): Int64Index([297], dtype='int64', name='index_movie'),
 (40600, 32630.07): Int64Index([79], dtype='int64', name='index_movie'),
 (40600, 33174.46): Int64Index([309], dtype='int64', name='index_movie'),
 (40600, 33352.22): Int64Index([121], dtype='int64', name='index_movie'),
 (40800, 32618.96): Int64Index([118], dtype='int64', name='index_movie'),
 (40800, 33046.695): Int64Index([13], dtype='int64', name='index_movie'),
 (40800, 33557.755): Int64Index([322], dtype='int64', name='index_movie'),
 (40800, 34035.485): Int64Index([107], dtype='int64', name='index_movie'),
 (41000, 33113.355): Int64Index([122], dtype='int64', name='index_movie'),
 (41000, 33968.825): Int64Index([51], dtype='int64', name='index_movie'),
 (41000, 34585.43): Int64Index([247], dtype='int64', name='index_movie'),
 (41200, 32974.48): Int64Index([355], dtype='int64', name='index_movie'),
 (41200, 33657.745): Int64Index([338], dtype='int64', name='index_movie'),
 (41200, 34713.195): Int64Index([94], dtype='int64', name='index_movie'),
 (41400, 32885.6): Int64Index([269], dtype='int64', name='index_movie'),
 (41400, 35052.05): Int64Index([334], dtype='int64', name='index_movie'),
 (41600, 29785.91): Int64Index([362], dtype='int64', name='index_movie'),
 (41600, 34107.7): Int64Index([77], dtype='int64', name='index_movie'),
 (41800, 32641.18): Int64Index([255], dtype='int64', name='index_movie'),
 (41800, 32691.175): Int64Index([69], dtype='int64', name='index_movie'),
 (42000, 32496.75): Int64Index([37], dtype='int64', name='index_movie'),
 (42000, 33957.715): Int64Index([319], dtype='int64', name='index_movie'),
 (42000, 37074.07): Int64Index([29], dtype='int64', name='index_movie'),
 (42200, 32530.08): Int64Index([270], dtype='int64', name='index_movie'),
 (42200, 33535.535): Int64Index([335], dtype='int64', name='index_movie'),
 (42400, 33713.295): Int64Index([44], dtype='int64', name='index_movie'),
 (42400, 34307.68): Int64Index([116], dtype='int64', name='index_movie'),
 (42400, 34618.76): Int64Index([78], dtype='int64', name='index_movie'),
 (42800, 33252.23): Int64Index([125], dtype='int64', name='index_movie'),
 (42800, 34235.465): Int64Index([96], dtype='int64', name='index_movie'),
 (42800, 34918.73): Int64Index([75], dtype='int64', name='index_movie'),
 (43000, 33057.805): Int64Index([218], dtype='int64', name='index_movie'),
 (43000, 34007.71): Int64Index([150], dtype='int64', name='index_movie'),
 (43200, 34807.63): Int64Index([313], dtype='int64', name='index_movie'),
 (43200, 35668.655): Int64Index([1], dtype='int64', name='index_movie'),
 (43400, 32713.395): Int64Index([12], dtype='int64', name='index_movie'),
 (43400, 33107.8): Int64Index([210], dtype='int64', name='index_movie'),
 (43400, 33113.355): Int64Index([71], dtype='int64', name='index_movie'),
 (43400, 33379.995): Int64Index([294], dtype='int64', name='index_movie'),
 (43400, 34241.02): Int64Index([221], dtype='int64', name='index_movie'),
 (43400, 34413.225): Int64Index([110], dtype='int64', name='index_movie'),
 (43400, 35524.225): Int64Index([357], dtype='int64', name='index_movie'),
 (43800, 27569.465): Int64Index([366], dtype='int64', name='index_movie'),
 (43800, 33929.94): Int64Index([254], dtype='int64', name='index_movie'),
 (43800, 48772.9): Int64Index([364], dtype='int64', name='index_movie'),
 (44000, 32607.85): Int64Index([120], dtype='int64', name='index_movie'),
 (44000, 32652.29): Int64Index([67], dtype='int64', name='index_movie'),
 (44000, 35579.775): Int64Index([91], dtype='int64', name='index_movie'),
 (44000, 35846.415): Int64Index([285], dtype='int64', name='index_movie'),
 (44000, 36607.45): Int64Index([301], dtype='int64', name='index_movie'),
 (44200, 34007.71): Int64Index([311], dtype='int64', name='index_movie'),
 (44200, 34285.46): Int64Index([7], dtype='int64', name='index_movie'),
 (44400, 33791.065): Int64Index([327], dtype='int64', name='index_movie'),
 (44400, 34002.155): Int64Index([87], dtype='int64', name='index_movie'),
 (44400, 35085.38): Int64Index([333], dtype='int64', name='index_movie'),
 (44400, 35318.69): Int64Index([242], dtype='int64', name='index_movie'),
 (44400, 35863.08): Int64Index([62], dtype='int64', name='index_movie'),
 (44600, 35079.825): Int64Index([288], dtype='int64', name='index_movie'),
 (44600, 35563.11): Int64Index([169], dtype='int64', name='index_movie'),
 (44800, 32257.885): Int64Index([212], dtype='int64', name='index_movie'),
 (45000, 32124.565): Int64Index([207], dtype='int64', name='index_movie'),
 (45000, 33413.325): Int64Index([86], dtype='int64', name='index_movie'),
 (45000, 35246.475): Int64Index([298], dtype='int64', name='index_movie'),
 (45200, 32546.745): Int64Index([174], dtype='int64', name='index_movie'),
 (45200, 32724.505): Int64Index([205], dtype='int64', name='index_movie'),
 (45200, 33952.16): Int64Index([359], dtype='int64', name='index_movie'),
 (45200, 35179.815): Int64Index([329], dtype='int64', name='index_movie'),
 (45200, 35646.435): Int64Index([90], dtype='int64', name='index_movie'),
 (45400, 32518.97): Int64Index([164], dtype='int64', name='index_movie'),
 (45400, 34035.485): Int64Index([358], dtype='int64', name='index_movie'),
 (45600, 30885.8): Int64Index([265], dtype='int64', name='index_movie'),
 (45600, 33691.075): Int64Index([72], dtype='int64', name='index_movie'),
 (45600, 36857.425): Int64Index([308], dtype='int64', name='index_movie'),
 (45600, 37301.825): Int64Index([111], dtype='int64', name='index_movie'),
 (45800, 33396.66): Int64Index([6], dtype='int64', name='index_movie'),
 (45800, 34257.685): Int64Index([83], dtype='int64', name='index_movie'),
 (45800, 35785.31): Int64Index([92], dtype='int64', name='index_movie'),
 (45800, 36051.95): Int64Index([350], dtype='int64', name='index_movie'),
 (46000, 35063.16): Int64Index([326], dtype='int64', name='index_movie'),
 (46000, 35396.46): Int64Index([132], dtype='int64', name='index_movie'),
 (46000, 35402.015): Int64Index([219], dtype='int64', name='index_movie'),
 (46200, 21458.965): Int64Index([367], dtype='int64', name='index_movie'),
 (46200, 30952.46): Int64Index([172], dtype='int64', name='index_movie'),
 (46200, 32968.925): Int64Index([16], dtype='int64', name='index_movie'),
 (46200, 35418.68): Int64Index([321], dtype='int64', name='index_movie'),
 (46200, 35452.01): Int64Index([318], dtype='int64', name='index_movie'),
 (46200, 36196.38): Int64Index([347], dtype='int64', name='index_movie'),
 (46400, 33441.1): Int64Index([176], dtype='int64', name='index_movie'),
 (46400, 33613.305): Int64Index([391], dtype='int64', name='index_movie'),
 (46400, 34490.995): Int64Index([287], dtype='int64', name='index_movie'),
 (46600, 32707.84): Int64Index([216], dtype='int64', name='index_movie'),
 (46600, 34135.475): Int64Index([58], dtype='int64', name='index_movie'),
 (46600, 36163.05): Int64Index([159], dtype='int64', name='index_movie'),
 (46600, 36696.33): Int64Index([239], dtype='int64', name='index_movie'),
 (46800, 33318.89): Int64Index([53], dtype='int64', name='index_movie'),
 (46800, 34690.975): Int64Index([73], dtype='int64', name='index_movie'),
 (47000, 34940.95): Int64Index([65], dtype='int64', name='index_movie'),
 (47200, 35640.88): Int64Index([173], dtype='int64', name='index_movie'),
 (47200, 38923.885): Int64Index([88], dtype='int64', name='index_movie'),
 (47400, 30063.66): Int64Index([214], dtype='int64', name='index_movie'),
 (47400, 35513.115): Int64Index([243], dtype='int64', name='index_movie'),
 (47400, 36001.955): Int64Index([238], dtype='int64', name='index_movie'),
 (47600, 32646.735): Int64Index([167], dtype='int64', name='index_movie'),
 (47600, 35102.045): Int64Index([168], dtype='int64', name='index_movie'),
 (47600, 35696.43): Int64Index([320], dtype='int64', name='index_movie'),
 (47600, 36479.685): Int64Index([314], dtype='int64', name='index_movie'),
 (47800, 34035.485): Int64Index([293], dtype='int64', name='index_movie'),
 (47800, 35490.895): Int64Index([84], dtype='int64', name='index_movie'),
 (47800, 36768.545): Int64Index([81], dtype='int64', name='index_movie'),
 (47800, 37196.28): Int64Index([343], dtype='int64', name='index_movie'),
 (48000, 33807.73): Int64Index([235], dtype='int64', name='index_movie'),
 (48000, 36524.125): Int64Index([0], dtype='int64', name='index_movie'),
 (48200, 34229.91): Int64Index([201], dtype='int64', name='index_movie'),
 (48200, 34846.515): Int64Index([74], dtype='int64', name='index_movie'),
 (48200, 36546.345): Int64Index([351], dtype='int64', name='index_movie'),
 (48400, 33141.13): Int64Index([38], dtype='int64', name='index_movie'),
 (48400, 35646.435): Int64Index([70], dtype='int64', name='index_movie'),
 (48600, 33224.455): Int64Index([230], dtype='int64', name='index_movie'),
 (48600, 33696.63): Int64Index([158], dtype='int64', name='index_movie'),
 (48600, 33929.94): Int64Index([246], dtype='int64', name='index_movie'),
 (48800, 33685.52): Int64Index([208], dtype='int64', name='index_movie'),
 (48800, 35140.93): Int64Index([206], dtype='int64', name='index_movie'),
 (48800, 36035.285): Int64Index([250], dtype='int64', name='index_movie'),
 (48800, 36318.59): Int64Index([272], dtype='int64', name='index_movie'),
 (49000, 35735.315): Int64Index([248], dtype='int64', name='index_movie'),
 (49000, 36857.425): Int64Index([348], dtype='int64', name='index_movie'),
 (49200, 35079.825): Int64Index([177], dtype='int64', name='index_movie'),
 (49200, 35724.205): Int64Index([325], dtype='int64', name='index_movie'),
 (49400, 34502.105): Int64Index([43], dtype='int64', name='index_movie'),
 (49400, 35457.565): Int64Index([56], dtype='int64', name='index_movie'),
 (49600, 35007.61): Int64Index([82], dtype='int64', name='index_movie'),

In [74]:
grouped = df2.groupby('Collection')
for movie,group in grouped:
  print(movie) 
  print(group)

10000
             Collection  Marketin_expense  ...  Num_multiplex  3D_available
index_movie                                ...
398               10000           787.036  ...            653            NO

[1 rows x 19 columns]
12600
             Collection  Marketin_expense  ...  Num_multiplex  3D_available
index_movie                                ...
399               12600           218.331  ...            613            NO

[1 rows x 19 columns]
14400
             Collection  Marketin_expense  ...  Num_multiplex  3D_available
index_movie                                ...
385               14400           356.236  ...            600            NO

[1 rows x 19 columns]
14800
             Collection  Marketin_expense  ...  Num_multiplex  3D_available
index_movie                                ...
387               14800           471.942  ...            617            NO

[1 rows x 19 columns]
17000
             Collection  Marketin_expense  ...  Num_multiplex  3D_available
index_movie                                ...
397               17000          173.4404  ...            663            NO

[1 rows x 19 columns]
17600
             Collection  Marketin_expense  ...  Num_multiplex  3D_available
index_movie                                ...
384               17600           421.698  ...            626            NO

[1 rows x 19 columns]
19400
             Collection  Marketin_expense  ...  Num_multiplex  3D_available
index_movie                                ...
392               19400           251.558  ...            686            NO

[1 rows x 19 columns]
20400
             Collection  Marketin_expense  ...  Num_multiplex  3D_available
index_movie                                ...
379               20400           377.334  ...            581            NO
388               20400           306.674  ...            711            NO

[2 rows x 19 columns]
20800
             Collection  Marketin_expense  ...  Num_multiplex  3D_available
index_movie                                ...
380               20800          1799.524  ...            666           YES

[1 rows x 19 columns]
21000
             Collection  Marketin_expense  ...  Num_multiplex  3D_available
index_movie                                ...
386               21000           507.876  ...            597           YES

[1 rows x 19 columns]
21800
             Collection  Marketin_expense  ...  Num_multiplex  3D_available
index_movie                                ...
381               21800           337.488  ...            582            NO

[1 rows x 19 columns]
22600
             Collection  Marketin_expense  ...  Num_multiplex  3D_available
index_movie                                ...
382               22600          203.7404  ...            607           YES

[1 rows x 19 columns]
23000
             Collection  Marketin_expense  ...  Num_multiplex  3D_available
index_movie                                ...
389               23000          183.0348  ...            616            NO

[1 rows x 19 columns]
23600
             Collection  Marketin_expense  ...  Num_multiplex  3D_available
index_movie                                ...
144               23600           75.5948  ...            795           YES

[1 rows x 19 columns]
24600
             Collection  Marketin_expense  ...  Num_multiplex  3D_available
index_movie                                ...
383               24600          179.8496  ...            702            NO

[1 rows x 19 columns]
25000
             Collection  Marketin_expense  ...  Num_multiplex  3D_available
index_movie                                ...
396               25000           137.441  ...            685           YES

[1 rows x 19 columns]
25400
             Collection  Marketin_expense  ...  Num_multiplex  3D_available
index_movie                                ...
30                25400           42.6162  ...            586            NO
394               25400          287.1960  ...            654            NO

[2 rows x 19 columns]
26200
             Collection  Marketin_expense  ...  Num_multiplex  3D_available
index_movie                                ...
33                26200           43.0344  ...            571           YES
156               26200           68.9336  ...            749            NO
378               26200          492.9640  ...            632           YES
395               26200          194.3350  ...            712            NO

[4 rows x 19 columns]
26400
             Collection  Marketin_expense  ...  Num_multiplex  3D_available
index_movie                                ...
32                26400           47.7598  ...            533            NO

[1 rows x 19 columns]
26600
             Collection  Marketin_expense  ...  Num_multiplex  3D_available
index_movie                                ...
138               26600           24.9960  ...            593            NO
377               26600          216.4698  ...            691           YES

[2 rows x 19 columns]
26800
             Collection  Marketin_expense  ...  Num_multiplex  3D_available
index_movie                                ...
142               26800            86.421  ...            807           YES

[1 rows x 19 columns]
27000
             Collection  Marketin_expense  ...  Num_multiplex  3D_available
index_movie                                ...
34                27000           52.2564  ...            497           YES

[1 rows x 19 columns]
27200
             Collection  Marketin_expense  ...  Num_multiplex  3D_available
index_movie                                ...
20                27200           45.0358  ...            484           YES

[1 rows x 19 columns]
27600
             Collection  Marketin_expense  ...  Num_multiplex  3D_available
index_movie                                ...
145               27600           67.5868  ...            846           YES
373               27600          242.1620  ...            611           YES
374               27600          389.9640  ...            712            NO
393               27600          192.8952  ...            628            NO

[4 rows x 19 columns]
27800
             Collection  Marketin_expense  ...  Num_multiplex  3D_available
index_movie                                ...
25                27800           36.8108  ...            516           YES
376               27800          325.7600  ...            705           YES

[2 rows x 19 columns]
28000
             Collection  Marketin_expense  ...  Num_multiplex  3D_available
index_movie                                ...
140               28000            25.818  ...            570            NO

[1 rows x 19 columns]
28600
             Collection  Marketin_expense  ...  Num_multiplex  3D_available
index_movie                                ...
129               28600            37.625  ...            581           YES

[1 rows x 19 columns]
28800
             Collection  Marketin_expense  ...  Num_multiplex  3D_available
index_movie                                ...
48                28800           25.0774  ...            427            NO
141               28800           52.5728  ...            561           YES

[2 rows x 19 columns]
29000
             Collection  Marketin_expense  ...  Num_multiplex  3D_available
index_movie                                ...
23                29000           39.7686  ...            527           YES
31                29000           47.0944  ...            523           YES

[2 rows x 19 columns]
29200
             Collection  Marketin_expense  ...  Num_multiplex  3D_available
index_movie                                ...
147               29200           67.3724  ...            800            NO

[1 rows x 19 columns]
29600
             Collection  Marketin_expense  ...  Num_multiplex  3D_available
index_movie                                ...
27                29600           39.1154  ...            488           YES

[1 rows x 19 columns]
30000
             Collection  Marketin_expense  ...  Num_multiplex  3D_available
index_movie                                ...
10                30000           24.4978  ...            578            NO
375               30000          412.1820  ...            625            NO

[2 rows x 19 columns]
30200
             Collection  Marketin_expense  ...  Num_multiplex  3D_available
index_movie                                ...
390               30200           159.243  ...            711           YES

[1 rows x 19 columns]
30400
             Collection  Marketin_expense  ...  Num_multiplex  3D_available
index_movie                                ...
22                30400           44.6494  ...            575           YES

[1 rows x 19 columns]
30600
             Collection  Marketin_expense  ...  Num_multiplex  3D_available
index_movie                                ...
152               30600           42.5316  ...            851           YES

[1 rows x 19 columns]
30800
             Collection  Marketin_expense  ...  Num_multiplex  3D_available
index_movie                                ...
149               30800           74.6794  ...            759            NO

[1 rows x 19 columns]
31200
             Collection  Marketin_expense  ...  Num_multiplex  3D_available
index_movie                                ...
24                31200           35.0052  ...            502           YES
134               31200           39.5234  ...            646            NO
143               31200          101.9480  ...            793           YES
146               31200           63.1010  ...            760           YES
155               31200           90.7002  ...            868            NO

[5 rows x 19 columns]
31400
             Collection  Marketin_expense  ...  Num_multiplex  3D_available
index_movie                                ...
126               31400            27.747  ...            635            NO

[1 rows x 19 columns]
32000
             Collection  Marketin_expense  ...  Num_multiplex  3D_available
index_movie                                ...
61                32000           23.4342  ...            387            NO

[1 rows x 19 columns]
32200
             Collection  Marketin_expense  ...  Num_multiplex  3D_available
index_movie                                ...
310               32200           72.7096  ...            562            NO

[1 rows x 19 columns]
32400
             Collection  Marketin_expense  ...  Num_multiplex  3D_available
index_movie                                ...
127               32400           25.1830  ...            567           YES
315               32400           25.0712  ...            559            NO

[2 rows x 19 columns]
33000
             Collection  Marketin_expense  ...  Num_multiplex  3D_available
index_movie                                ...
8                 33000           24.2248  ...            564           YES
342               33000           20.4996  ...            566           YES

[2 rows x 19 columns]
33200
             Collection  Marketin_expense  ...  Num_multiplex  3D_available
index_movie                                ...
26                33200           33.4382  ...            476            NO
47                33200           24.5854  ...            526           YES

[2 rows x 19 columns]
33600
             Collection  Marketin_expense  ...  Num_multiplex  3D_available
index_movie                                ...
363               33600          104.4478  ...            803           YES

[1 rows x 19 columns]
34000
             Collection  Marketin_expense  ...  Num_multiplex  3D_available
index_movie                                ...
154               34000            48.277  ...            806            NO

[1 rows x 19 columns]
34200
             Collection  Marketin_expense  ...  Num_multiplex  3D_available
index_movie                                ...
137               34200           27.0466  ...            674           YES
331               34200           21.0046  ...            522            NO

[2 rows x 19 columns]
34400
             Collection  Marketin_expense  ...  Num_multiplex  3D_available
index_movie                                ...
346               34400           21.2324  ...            441            NO

[1 rows x 19 columns]
34600
             Collection  Marketin_expense  ...  Num_multiplex  3D_available
index_movie                                ...
123               34600           23.0076  ...            524           YES

[1 rows x 19 columns]
34800
             Collection  Marketin_expense  ...  Num_multiplex  3D_available
index_movie                                ...
68                34800           22.7108  ...            485            NO
136               34800           26.4528  ...            622            NO
170               34800           44.1484  ...            606            NO

[3 rows x 19 columns]
35000
             Collection  Marketin_expense  ...  Num_multiplex  3D_available
index_movie                                ...
17                35000           35.6840  ...            548            NO
345               35000           20.6226  ...            507           YES

[2 rows x 19 columns]
35200
             Collection  Marketin_expense  ...  Num_multiplex  3D_available
index_movie                                ...
244               35200           24.1216  ...            412            NO

[1 rows x 19 columns]
35600
             Collection  Marketin_expense  ...  Num_multiplex  3D_available
index_movie                                ...
139               35600           30.8904  ...            592           YES
148               35600           66.6198  ...            838            NO
316               35600           26.3654  ...            520            NO
356               35600          199.6592  ...            773            NO

[4 rows x 19 columns]
36000
             Collection  Marketin_expense  ...  Num_multiplex  3D_available
index_movie                                ...
128               36000           26.5086  ...            564            NO

[1 rows x 19 columns]
36200
             Collection  Marketin_expense  ...  Num_multiplex  3D_available
index_movie                                ...
135               36200           31.1556  ...            663           YES

[1 rows x 19 columns]
36400
             Collection  Marketin_expense  ...  Num_multiplex  3D_available
index_movie                                ...
14                36400           32.7592  ...            599            NO
19                36400           34.5160  ...            578            NO
354               36400           20.8602  ...            470            NO

[3 rows x 19 columns]
36600
             Collection  Marketin_expense  ...  Num_multiplex  3D_available
index_movie                                ...
115               36600           23.4268  ...            539            NO

[1 rows x 19 columns]
36800
             Collection  Marketin_expense  ...  Num_multiplex  3D_available
index_movie                                ...
28                36800           35.4598  ...            544           YES
133               36800           26.5964  ...            617           YES

[2 rows x 19 columns]
37000
             Collection  Marketin_expense  ...  Num_multiplex  3D_available
index_movie                                ...
114               37000           22.8462  ...            570            NO
245               37000           23.8266  ...            438           YES
323               37000           25.6784  ...            501           YES
337               37000           20.6082  ...            567           YES

[4 rows x 19 columns]
37200
             Collection  Marketin_expense  ...  Num_multiplex  3D_available
index_movie                                ...
102               37200           24.5752  ...            544            NO
352               37200           21.4488  ...            397           YES

[2 rows x 19 columns]
37400
             Collection  Marketin_expense  ...  Num_multiplex  3D_available
index_movie                                ...
60                37400           22.9864  ...            439            NO
113               37400           24.4424  ...            604           YES
340               37400           21.2302  ...            534           YES

[3 rows x 19 columns]
37600
             Collection  Marketin_expense  ...  Num_multiplex  3D_available
index_movie                                ...
112               37600           22.4658  ...            577           YES
124               37600           21.9698  ...            622            NO

[2 rows x 19 columns]
37800
             Collection  Marketin_expense  ...  Num_multiplex  3D_available
index_movie                                ...
9                 37800           23.4008  ...            508           YES
11                37800           22.3494  ...            553            NO
35                37800           21.2834  ...            530           YES
54                37800           20.2720  ...            387           YES

[4 rows x 19 columns]
38000
             Collection  Marketin_expense  ...  Num_multiplex  3D_available
index_movie                                ...
339               38000           21.0994  ...            477            NO

[1 rows x 19 columns]
38200
             Collection  Marketin_expense  ...  Num_multiplex  3D_available
index_movie                                ...
171               38200            66.278  ...            575            NO

[1 rows x 19 columns]
38400
             Collection  Marketin_expense  ...  Num_multiplex  3D_available
index_movie                                ...
117               38400           23.0196  ...            609            NO
130               38400           26.8012  ...            663           YES

[2 rows x 19 columns]
38600
             Collection  Marketin_expense  ...  Num_multiplex  3D_available
index_movie                                ...
45                38600           23.4284  ...            445            NO
103               38600           24.2322  ...            555           YES
119               38600           22.8952  ...            530           YES
211               38600           27.5156  ...            489            NO
328               38600           21.3234  ...            395           YES

[5 rows x 19 columns]
38800
             Collection  Marketin_expense  ...  Num_multiplex  3D_available
index_movie                                ...
49                38800           24.3954  ...            507            NO
66                38800           20.8758  ...            479            NO
109               38800           25.2726  ...            555           YES
153               38800           62.9836  ...            840            NO
312               38800           25.2338  ...            535           YES
332               38800           20.6932  ...            518           YES

[6 rows x 19 columns]
39000
             Collection  Marketin_expense  ...  Num_multiplex  3D_available
index_movie                                ...
105               39000           22.6524  ...            515           YES
106               39000           23.4240  ...            482           YES
336               39000           20.6854  ...            447            NO

[3 rows x 19 columns]
39200
             Collection  Marketin_expense  ...  Num_multiplex  3D_available
index_movie                                ...
21                39200           37.0408  ...            541           YES
59                39200           22.0656  ...            460           YES
131               39200           43.8588  ...            559           YES
151               39200           49.9264  ...            754            NO

[4 rows x 19 columns]
39400
             Collection  Marketin_expense  ...  Num_multiplex  3D_available

In [75]:
grouped = df2.groupby('Collection')
print(grouped.get_group(32400))

             Collection  Marketin_expense  ...  Num_multiplex  3D_available
index_movie                                ...
127               32400           25.1830  ...            567           YES
315               32400           25.0712  ...            559            NO

[2 rows x 19 columns]

In [76]:
grouped = df2.groupby('Collection')
avg = lambda x: (x - x.mean())/ x.std()*10
print(grouped.transform(avg))

             Marketin_expense  ...  Num_multiplex
index_movie                    ...
0                   -7.071068  ...      -7.071068
1                   -7.071068  ...      -7.071068
2                         NaN  ...            NaN
3                   -7.071068  ...      -7.071068
4                    7.071068  ...      -7.071068
...                       ...  ...            ...
395                 -0.265720  ...       5.752098
396                       NaN  ...            NaN
397                       NaN  ...            NaN
398                       NaN  ...            NaN
399                       NaN  ...            NaN

[400 rows x 15 columns]

In [77]:
df2.groupby('Collection').filter(lambda x: len(x) >= 10)

             Collection  Marketin_expense  ...  Num_multiplex  3D_available
index_movie                                ...
161              100000           49.2672  ...            539           YES
162              100000           56.6754  ...            557           YES
163              100000           50.3804  ...            603           YES
166              100000           60.2038  ...            522           YES
186              100000           21.1204  ...            458           YES
195              100000           20.2762  ...            430           YES
204              100000           20.4018  ...            442           YES
225              100000           30.5386  ...            570           YES
257              100000           32.2308  ...            552           YES
267              100000           31.5668  ...            633           YES
283              100000           20.3002  ...            489           YES
368              100000          117.9644  ...            624            NO
369              100000          133.3996  ...            675           YES
370              100000          150.7752  ...            593           YES
371              100000          204.6460  ...            609           YES
372              100000          185.3450  ...            645           YES

[16 rows x 19 columns]