In [27]:
import pandas as pd

In [25]:
from google.colab import files 
uploaded = files.upload()

Saving Movie_collection_train.csv to Movie_collection_train (1).csv

In [28]:
import io
df2 = pd.read_csv(io.BytesIO(uploaded['Movie_collection_train.csv']))

In [29]:
from google.colab import files 
uploaded = files.upload()

Saving Movie_collection_test.csv to Movie_collection_test (1).csv

In [30]:
import io
df1 = pd.read_csv(io.BytesIO(uploaded['Movie_collection_test.csv']))

In [31]:
df1.head()

   Collection  Marketin_expense  ...  Num_multiplex  3D_available
0       11200          520.9220  ...            618           YES
1       14400          304.7240  ...            703           YES
2       24200          211.9142  ...            689            NO
3       16600          516.0340  ...            677           YES
4       17000          850.5840  ...            615            NO

[5 rows x 19 columns]

In [32]:
df2.head()

   Collection  Marketin_expense  ...  Num_multiplex  3D_available
0       48000           20.1264  ...            494           YES
1       43200           20.5462  ...            462            NO
2       69400           20.5458  ...            458            NO
3       66800           20.6474  ...            472           YES
4       72400           21.3810  ...            395            NO

[5 rows x 19 columns]

In [33]:
print(pd.merge(df1,df2,on='Collection'))

     Collection  Marketin_expense_x  ...  Num_multiplex_y  3D_available_y
0         14400            304.7240  ...              600              NO
1         14400            381.6920  ...              600              NO
2         17000            850.5840  ...              663              NO
3         10000           1378.4160  ...              653              NO
4         55800            259.0220  ...              390              NO
..          ...                 ...  ...              ...             ...
135       44000             22.1918  ...              406             YES
136       44000             22.1918  ...              451              NO
137       44000             22.1918  ...              570             YES
138       44000             22.1918  ...              347             YES
139       44000             22.1918  ...              372             YES

[140 rows x 37 columns]

In [34]:
print(pd.merge(df1,df2,on='Collection', how='left'))

     Collection  Marketin_expense_x  ...  Num_multiplex_y  3D_available_y
0         11200            520.9220  ...              NaN             NaN
1         14400            304.7240  ...            600.0              NO
2         24200            211.9142  ...              NaN             NaN
3         16600            516.0340  ...              NaN             NaN
4         17000            850.5840  ...            663.0              NO
..          ...                 ...  ...              ...             ...
171       44000             22.1918  ...            451.0              NO
172       44000             22.1918  ...            570.0             YES
173       44000             22.1918  ...            347.0             YES
174       44000             22.1918  ...            372.0             YES
175       38000             20.9482  ...            477.0              NO

[176 rows x 37 columns]

In [35]:
print(pd.merge(df1,df2,on='Collection', how='right'))

     Collection  Marketin_expense_x  ...  Num_multiplex_y  3D_available_y
0         14400             304.724  ...              600              NO
1         14400             381.692  ...              600              NO
2         17000             850.584  ...              663              NO
3         10000            1378.416  ...              653              NO
4         55800             259.022  ...              390              NO
..          ...                 ...  ...              ...             ...
421       23000                 NaN  ...              616              NO
422       30200                 NaN  ...              711             YES
423       19400                 NaN  ...              686              NO
424       25000                 NaN  ...              685             YES
425       12600                 NaN  ...              613              NO

[426 rows x 37 columns]

In [36]:
print(pd.merge(df1,df2,on='Collection', how='outer'))

     Collection  Marketin_expense_x  ...  Num_multiplex_y  3D_available_y
0         11200            520.9220  ...              NaN             NaN
1         14400            304.7240  ...            600.0              NO
2         14400            381.6920  ...            600.0              NO
3         24200            211.9142  ...              NaN             NaN
4         16600            516.0340  ...              NaN             NaN
..          ...                 ...  ...              ...             ...
457       23000                 NaN  ...            616.0              NO
458       30200                 NaN  ...            711.0             YES
459       19400                 NaN  ...            686.0              NO
460       25000                 NaN  ...            685.0             YES
461       12600                 NaN  ...            613.0              NO

[462 rows x 37 columns]

In [38]:
print(pd.merge(df1,df2,on='Collection', how='inner'))

     Collection  Marketin_expense_x  ...  Num_multiplex_y  3D_available_y
0         14400            304.7240  ...              600              NO
1         14400            381.6920  ...              600              NO
2         17000            850.5840  ...              663              NO
3         10000           1378.4160  ...              653              NO
4         55800            259.0220  ...              390              NO
..          ...                 ...  ...              ...             ...
135       44000             22.1918  ...              406             YES
136       44000             22.1918  ...              451              NO
137       44000             22.1918  ...              570             YES
138       44000             22.1918  ...              347             YES
139       44000             22.1918  ...              372             YES

[140 rows x 37 columns]

In [39]:
pd.concat([df1,df2])

     Collection  Marketin_expense  ...  Num_multiplex  3D_available
0         11200          520.9220  ...            618           YES
1         14400          304.7240  ...            703           YES
2         24200          211.9142  ...            689            NO
3         16600          516.0340  ...            677           YES
4         17000          850.5840  ...            615            NO
..          ...               ...  ...            ...           ...
395       26200          194.3350  ...            712            NO
396       25000          137.4410  ...            685           YES
397       17000          173.4404  ...            663            NO
398       10000          787.0360  ...            653            NO
399       12600          218.3310  ...            613            NO

[506 rows x 19 columns]

In [40]:
df1.info

<bound method DataFrame.info of      Collection  Marketin_expense  ...  Num_multiplex  3D_available
0         11200          520.9220  ...            618           YES
1         14400          304.7240  ...            703           YES
2         24200          211.9142  ...            689            NO
3         16600          516.0340  ...            677           YES
4         17000          850.5840  ...            615            NO
..          ...               ...  ...            ...           ...
101       44800           21.2526  ...            561            NO
102       41200           20.9054  ...            600           YES
103       47800           21.2152  ...            576            NO
104       44000           22.1918  ...            607           YES
105       38000           20.9482  ...            604           YES

[106 rows x 19 columns]>

In [41]:
df2.info

<bound method DataFrame.info of      Collection  Marketin_expense  ...  Num_multiplex  3D_available
0         48000           20.1264  ...            494           YES
1         43200           20.5462  ...            462            NO
2         69400           20.5458  ...            458            NO
3         66800           20.6474  ...            472           YES
4         72400           21.3810  ...            395            NO
..          ...               ...  ...            ...           ...
395       26200          194.3350  ...            712            NO
396       25000          137.4410  ...            685           YES
397       17000          173.4404  ...            663            NO
398       10000          787.0360  ...            653            NO
399       12600          218.3310  ...            613            NO

[400 rows x 19 columns]>

In [42]:
df2.append(df1)

     Collection  Marketin_expense  ...  Num_multiplex  3D_available
0         48000           20.1264  ...            494           YES
1         43200           20.5462  ...            462            NO
2         69400           20.5458  ...            458            NO
3         66800           20.6474  ...            472           YES
4         72400           21.3810  ...            395            NO
..          ...               ...  ...            ...           ...
101       44800           21.2526  ...            561            NO
102       41200           20.9054  ...            600           YES
103       47800           21.2152  ...            576            NO
104       44000           22.1918  ...            607           YES
105       38000           20.9482  ...            604           YES

[506 rows x 19 columns]

In [43]:
df2.append([df1,df2])

     Collection  Marketin_expense  ...  Num_multiplex  3D_available
0         48000           20.1264  ...            494           YES
1         43200           20.5462  ...            462            NO
2         69400           20.5458  ...            458            NO
3         66800           20.6474  ...            472           YES
4         72400           21.3810  ...            395            NO
..          ...               ...  ...            ...           ...
395       26200          194.3350  ...            712            NO
396       25000          137.4410  ...            685           YES
397       17000          173.4404  ...            663            NO
398       10000          787.0360  ...            653            NO
399       12600          218.3310  ...            613            NO

[906 rows x 19 columns]

In [44]:
df2.append([df1,df1])

     Collection  Marketin_expense  ...  Num_multiplex  3D_available
0         48000           20.1264  ...            494           YES
1         43200           20.5462  ...            462            NO
2         69400           20.5458  ...            458            NO
3         66800           20.6474  ...            472           YES
4         72400           21.3810  ...            395            NO
..          ...               ...  ...            ...           ...
101       44800           21.2526  ...            561            NO
102       41200           20.9054  ...            600           YES
103       47800           21.2152  ...            576            NO
104       44000           22.1918  ...            607           YES
105       38000           20.9482  ...            604           YES

[612 rows x 19 columns]